<!-- Toolbar -->


<div class="container">
  <div class="cardContainer">
    <div class="headerEu">
      <div class="foto">
        <img class="fotoPerfil" src="../assets/img/perfil.png" alt="Foto de perfil">
      </div>
      <div class="nome">
        <label class="nome-label">
          Catarine Casagrandi
        </label>
      </div>
    </div>
  </div>
<div class="cardContainer2">
    <div class="divInfo">
      <div class="descricao">
        <ul>
          <li><span>Curso</span>: Técnico em Desenvolvimento de Sistemas.</li><br><br>
          <li><span>Objetivo profissional</span>: Ingressar na área e migrar para UX/UI.</li><br><br>
          <li><span>Hobbies</span>: Pintura, música, fotografia e nado.</li>
        </ul>
      </div>
      <div class="links">
        <div id="link1" classe="link-label">
          <img class="icone" src="../assets/img/linkedin.png" alt=""><a class="link-a" href="https://www.linkedin.com/in/catarine-casagrandi-617227156/">LinkedIn</a>
        </div>
        <div id="link2" classe="link-label">
          <img class="icone" src="../assets/img/github.png" alt=""><a class="link-a" href="https://github.com/catarinecsgr">GitHub</a>
        </div>
      </div>
      <div class="frase">
        <p id="frase-hwk">"Look up at the sky and not down at your feet. Try to make sense of what you see and wonder about what makes the universe exist. Be curious." - Stephen Hawking</p>

      </div>






    </div>
  </div>
</div>

<!--todo conteúdo fica acima do router-outlet-->
<router-outlet></router-outlet>

